.logoinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 58px;
  margin-top: 5px;
  padding-left: 129px;
  margin-bottom: 5px;
}

.imageinfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 100px;
  white-space: nowrap;
}

.imageinfo ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.imageinfo ul li {
  color: #1e1e1e;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  text-align: right;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}
.btn {
    width: 120px;
    height: 44px;
    top: 59px;
    left: 1190px;
    gap: 0px;
    border-radius: 25px;
    border: 2px solid #FFDD1E;
    opacity: 0px;
    margin-right: 100px;
    
}
.btn p {
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.82px;
    text-align: left;

    
}  
